<center><h1>第五章:使用Pandas</h1></center>

## 读文件
> 书P84

In [2]:
import pandas as pd

1. **使用read_table读取**
    * txt

In [5]:
txt_table=pd.read_table("./excess_data/data2022-11-07.txt",sep='\t',encoding='utf-16')
txt_table.head() #注意：.head()表示数据的前五项，实际操作不要加

   省份     累计确诊     死亡     治愈     现有确诊  累计确诊增量  死亡增量  治愈增量  现有确诊增量
0  西藏     1460      0   1434       26       0     0    11     -11
1  澳门      795      6    787        2       0     0     0       0
2  青海      284      0    255       29       3     0     0       3
3  台湾  7887538  13198  13742  7860598   24345    28     0   24317
4  香港   438627  10470  92863   335294     582     6   234     342

2. **使用read_csv读取**
    * csv

In [4]:
df_csv=pd.read_csv('./excess_data/data2022-11-07.csv',sep=',',encoding='gbk')
df_csv.head()

   省份     累计确诊     死亡     治愈     现有确诊  累计确诊增量  死亡增量  治愈增量  现有确诊增量
0  西藏     1460      0   1434       26       0     0    11     -11
1  澳门      795      6    787        2       0     0     0       0
2  青海      284      0    255       29       3     0     0       3
3  台湾  7887538  13198  13742  7860598   24345    28     0   24317
4  香港   438627  10470  92863   335294     582     6   234     342

3. **使用read_excel读取**
    * excel
    * 书P87参数说明
    * 注意excel存在多个表，默认读取第一个表

In [6]:
df_xlsx=pd.read_excel('./excess_data/data2022-11-07.xlsx',sheet_name=4) # 读取第五个表,也可以直接写表名
df_xlsx.head()

      国家  累计确诊  死亡    治愈  现有确诊  累计确诊增量
0    图瓦卢    23   0     0    23       0
1  瑙鲁共和国  4611   1  4605     5       0
2     纽埃    85   0    85     0       0
3   库克群岛  6389   1  6384     4       0
4   基里巴斯  3430  13  2703   714       0

## 写文件

1. **写csv文件**
    * 书P86
    * 用txt打开csv，可以看到它自带逗号分隔符
    * 可以用其他的分隔符，比如分号

In [23]:
df_xlsx.to_csv('./output/CSV写入测试.csv')

2. **写excel文件**
    * 书P88

In [22]:
df_xlsx.to_excel('./output/Excel写入测试.xlsx',sheet_name="大洋洲疫情")

## DataFrame常用操作
> 书P89

In [7]:
# 查看元素
print("values的意思是查看元素\n",df_xlsx.head().values)

values的意思是查看元素
 [['图瓦卢' 23 0 0 23 0]
 ['瑙鲁共和国' 4611 1 4605 5 0]
 ['纽埃' 85 0 85 0 0]
 ['库克群岛' 6389 1 6384 4 0]
 ['基里巴斯' 3430 13 2703 714 0]]

In [28]:
# 查看索引
print("index的意思是查看索引\n",df_xlsx.index)

index的意思是查看索引
 RangeIndex(start=0, stop=19, step=1)

In [30]:
# 查看列名
print("columns的意思是查看列名\n",df_xlsx.columns)

columns的意思是查看列名
 Index(['国家', '累计确诊', '死亡', '治愈', '现有确诊', '累计确诊增量'], dtype='object')

In [32]:
# 查看每列的数据类型
print("dtypes的意思是查看数据类型\n",df_xlsx.dtypes)

dtypes的意思是查看数据类型
 国家        object
累计确诊       int64
死亡         int64
治愈         int64
现有确诊       int64
累计确诊增量     int64
dtype: object

In [37]:
print("数据的形状",df_xlsx.shape)
print("数据的维度数",df_xlsx.ndim)
print("数据的大小",df_xlsx.size)

数据的形状 (19, 6)
数据的维度数 2
数据的大小 114

In [8]:
# 对数据进行转置
df_xlsx.head().T

          0      1   2     3     4
国家      图瓦卢  瑙鲁共和国  纽埃  库克群岛  基里巴斯
累计确诊     23   4611  85  6389  3430
死亡        0      1   0     1    13
治愈        0   4605  85  6384  2703
现有确诊     23      5   0     4   714
累计确诊增量    0      0   0     0     0

## DataFrame增删改查
> * 查找 书P92 开始
> * 增删改 书P98-P101

In [52]:
df_xlsx.head() # 前五行数据
df_xlsx.head(10) # 前十行
df_xlsx.tail() # 后五行
df_xlsx[5:10] # 5-9行
df_xlsx[:5] # 前五行

      国家  累计确诊  死亡    治愈  现有确诊  累计确诊增量
0    图瓦卢    23   0     0    23       0
1  瑙鲁共和国  4611   1  4605     5       0
2     纽埃    85   0    85     0       0
3   库克群岛  6389   1  6384     4       0
4   基里巴斯  3430  13  2703   714       0

In [57]:
df_xlsx['国家'] # 使用字典读取某一列
df_xlsx[['国家','死亡']][:5] # 读取多行多列

      国家  死亡
0    图瓦卢   0
1  瑙鲁共和国   1
2     纽埃   0
3   库克群岛   1
4   基里巴斯  13

### 使用loc,iloc实现切片

> * loc[行索引名称或条件,列索引名称]
> * iloc[行索引位置，列索引位置]

In [65]:
df_xlsx.loc[:5,'国家']

0      图瓦卢
1    瑙鲁共和国
2       纽埃
3     库克群岛
4     基里巴斯
5     汤加王国
Name: 国家, dtype: object

In [62]:
df_xlsx.iloc[:5,:3]

      国家  累计确诊  死亡
0    图瓦卢    23   0
1  瑙鲁共和国  4611   1
2     纽埃    85   0
3   库克群岛  6389   1
4   基里巴斯  3430  13

In [67]:
# 条件切片
df_xlsx.loc[df_xlsx['死亡']==0,['国家','死亡']]

    国家  死亡
0  图瓦卢   0
2   纽埃   0